<form><table>
    <tr>
        <input type="text" >
    </tr>
    <tr><td>
        <button type = submit (click)="subNumbers()">-</button></td>
    <td>
        <button type = submit (click)="addNumbers(x)" (click)="incr()">+</button></td>
    </tr>
    <div  *ngFor="let num of b">
    <tr>
        <td>   {{z}}     : </td>
        <td>
            {{a}}  : {{num}}
           
        </td>
    </tr></div>
</table>

</form>
<h1>hey</h1>
<div *ngFor = "let x of user"> <p>hey {{x.firstname}}</p></div>