<mat-accordion multi= "true" *ngIf = "posts.length > 0">    
  <mat-expansion-panel *ngFor = "let post of posts" >  
    <mat-expansion-panel-header>  
    {{post.title}}  
    </mat-expansion-panel-header>  
    <p>{{post.content}}</p>  
  </mat-expansion-panel>
  <p class = " info-text mat-body-1" *ngIf = "posts.length <= 0">No post added yet!</p>   
</mat-accordion>  


<!--<br><hr>
<p *ngFor="let pos of posts">{{pos.title}}</p>
<p *ngFor="let pos of posts">{{pos.content}}</p>

<mat-accordion multi = "true" *ngFor="let pos of posts"><mat-expansion-panel>
	<mat-expansion-panel-header>
		<p>{{pos.title}}</p>
	</mat-expansion-panel-header>
	<p> {{pos.content}}</p>
	
</mat-expansion-panel></mat-accordion> 
<p>hey</p> -->
